src/main/resources/xmlcfg4j-0_2_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns="http://www.fuin.org/xmlcfg4j/0.2.1"
	targetNamespace="http://www.fuin.org/xmlcfg4j/0.2.1">

    <xs:element name="variable" type="variableType" />

	<xs:complexType name="variableType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute type="xs:string" name="name" use="required" />
				<xs:attribute type="xs:string" name="value" use="optional" />
				<xs:attribute type="xs:string" name="url" use="optional" />
				<xs:attribute type="xs:string" name="encoding" use="optional" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

    <xs:element name="variables" type="variablesType" />

	<xs:complexType name="variablesType">
		<xs:sequence>
			<xs:element ref="variable"	minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>
